In [1]:
#import dependencies
import pandas as pd 
import scipy as scipy
import numpy as np 
import matplotlib as plt

In [2]:
new_data = pd.read_csv('Resources/Chicago_crimes.csv')

In [3]:
trimmed = new_data.dropna()
len(trimmed)

977130

In [4]:
trimmed.sort_values(by=["Year"], inplace = True)
trimmed

C:\Users\koros\AppData\Local\Continuum\miniconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Community Area,Year,Latitude,Longitude,Location,Date
282677,ROBBERY,STRONG ARM - NO WEAPON,CHA PARKING LOT / GROUNDS,False,False,215,2.0,3.0,38.0,2001,41.815670,-87.626402,"(41.815669549, -87.626402198)",3/15/2001 10:55
519941,HOMICIDE,FIRST DEGREE MURDER,STREET,True,False,1122,11.0,27.0,23.0,2001,41.889896,-87.722564,"(41.889896295, -87.722564425)",8/29/2001 15:45
733830,HOMICIDE,FIRST DEGREE MURDER,PARK PROPERTY,True,False,1423,14.0,26.0,24.0,2001,41.903162,-87.696886,"(41.903162458, -87.696885733)",9/11/2001 19:40
241086,OFFENSE INVOLVING CHILDREN,AGGRAVATED SEXUAL ASSAULT OF CHILD BY FAMILY M...,APARTMENT,False,False,913,9.0,11.0,60.0,2001,41.839771,-87.646468,"(41.839770706, -87.646467578)",5/27/2001 3:00
328456,HOMICIDE,FIRST DEGREE MURDER,AUTO,True,False,1222,12.0,25.0,31.0,2001,41.856268,-87.656375,"(41.85626764, -87.656374568)",8/12/2001 4:35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255223,ASSAULT,SIMPLE,PARKING LOT/GARAGE(NON.RESID.),True,False,1731,17.0,30.0,16.0,2020,41.939081,-87.728277,"(41.939081232, -87.728277456)",2/1/2020 15:16
255225,MOTOR VEHICLE THEFT,AUTOMOBILE,STREET,False,False,1513,15.0,29.0,25.0,2020,41.882210,-87.767064,"(41.882209936, -87.767064116)",2/1/2020 22:00
255226,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,False,True,922,9.0,15.0,58.0,2020,41.811111,-87.687894,"(41.811111038, -87.687893773)",2/1/2020 22:30
255214,ROBBERY,ARMED: HANDGUN,STREET,True,False,2513,25.0,29.0,25.0,2020,41.910031,-87.783369,"(41.91003074, -87.783368829)",2/1/2020 18:10
251477,PUBLIC PEACE VIOLATION,ARSON THREAT,OTHER,False,False,1712,17.0,39.0,14.0,2020,41.969143,-87.728056,"(41.969142924, -87.72805557)",1/26/2020 9:00

In [5]:
cleaned_crime = trimmed[["Year", "Longitude", "Latitude", "Location", "Primary Type"]]
cleaned_crime.head()

,Year,Longitude,Latitude,Location,Primary Type
282677,2001,-87.626402,41.815670,"(41.815669549, -87.626402198)",ROBBERY
519941,2001,-87.722564,41.889896,"(41.889896295, -87.722564425)",HOMICIDE
733830,2001,-87.696886,41.903162,"(41.903162458, -87.696885733)",HOMICIDE
241086,2001,-87.646468,41.839771,"(41.839770706, -87.646467578)",OFFENSE INVOLVING CHILDREN
328456,2001,-87.656375,41.856268,"(41.85626764, -87.656374568)",HOMICIDE

In [6]:
cleaned_crime.rename(columns={"Primary Type": "Crime"}, inplace = True)

C:\Users\koros\AppData\Local\Continuum\miniconda3\lib\site-packages\pandas\core\frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [7]:
cleaned_crime

,Year,Longitude,Latitude,Location,Crime
282677,2001,-87.626402,41.815670,"(41.815669549, -87.626402198)",ROBBERY
519941,2001,-87.722564,41.889896,"(41.889896295, -87.722564425)",HOMICIDE
733830,2001,-87.696886,41.903162,"(41.903162458, -87.696885733)",HOMICIDE
241086,2001,-87.646468,41.839771,"(41.839770706, -87.646467578)",OFFENSE INVOLVING CHILDREN
328456,2001,-87.656375,41.856268,"(41.85626764, -87.656374568)",HOMICIDE
...,...,...,...,...,...
255223,2020,-87.728277,41.939081,"(41.939081232, -87.728277456)",ASSAULT
255225,2020,-87.767064,41.882210,"(41.882209936, -87.767064116)",MOTOR VEHICLE THEFT
255226,2020,-87.687894,41.811111,"(41.811111038, -87.687893773)",BATTERY
255214,2020,-87.783369,41.910031,"(41.91003074, -87.783368829)",ROBBERY
251477,2020,-87.728056,41.969143,"(41.969142924, -87.72805557)",PUBLIC PEACE VIOLATION

In [8]:
#dependencies for heatmaps
import gmaps
import os

#from gmaps_API import g_key

In [9]:
crime_01=cleaned_crime.loc[cleaned_crime["Year"]==2001]
crime_02=cleaned_crime.loc[cleaned_crime["Year"]==2002]
crime_03=cleaned_crime.loc[cleaned_crime["Year"]==2003]
crime_04=cleaned_crime.loc[cleaned_crime["Year"]==2004]
crime_05=cleaned_crime.loc[cleaned_crime["Year"]==2005]
crime_06=cleaned_crime.loc[cleaned_crime["Year"]==2006]
crime_07=cleaned_crime.loc[cleaned_crime["Year"]==2007]
crime_08=cleaned_crime.loc[cleaned_crime["Year"]==2008]
crime_09=cleaned_crime.loc[cleaned_crime["Year"]==2009]
crime_10=cleaned_crime.loc[cleaned_crime["Year"]==2010]
crime_11=cleaned_crime.loc[cleaned_crime["Year"]==2011]
crime_12=cleaned_crime.loc[cleaned_crime["Year"]==2012]
crime_13=cleaned_crime.loc[cleaned_crime["Year"]==2013]
crime_14=cleaned_crime.loc[cleaned_crime["Year"]==2014]
crime_15=cleaned_crime.loc[cleaned_crime["Year"]==2015]
crime_16=cleaned_crime.loc[cleaned_crime["Year"]==2016]
crime_17=cleaned_crime.loc[cleaned_crime["Year"]==2017]
crime_18=cleaned_crime.loc[cleaned_crime["Year"]==2018]
crime_19=cleaned_crime.loc[cleaned_crime["Year"]==2019]
crime_20=cleaned_crime.loc[cleaned_crime["Year"]==2020]

In [27]:
# Configure gmaps with API key.
gmaps.configure(api_key="AIzaSyDVKnXC2gZBzIcvmfwWKy7FJn4c1oGt4xA")

roundedlng=round(crime_01["Longitude"],3)
roundedlat=round(crime_01["Latitude"],3)
crime_01["Latidude,Longitude"] = f'{roundedlat},{roundedlng}'
crime_01["Weight"]=1

crime_01_weight=crime_01[["Latidude,Longitude", "Weight"]]
crime_01_weight.head()

crime_01__weight_grouped=crime_01_weight.groupby(["Latidude,Longitude"]).sum()["Weight"]
crime_01_grouped.head()

# Store 'Latitude' and 'Longitude' into  locations. 
# locations = crime_01[["Latitude", "Longitude"]].astype(float)

# # Create a Heatmap layer
# fig = gmaps.figure()

# heat_layer = gmaps.heatmap_layer(locations, weights=, 
#                                  dissipating=False, max_intensity=30,
#                                  point_radius = 0.01)

# fig.add_layer(heat_layer)

# fig

C:\Users\koros\AppData\Local\Continuum\miniconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\koros\AppData\Local\Continuum\miniconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

Latidude,Longitude
282677    41.816\n519941    41.890\n733830    41.903\n241086    41.840\n328456    41.856\n           ...  \n466431    41.893\n604791    41.752\n948275    41.907\n575696    41.672\n282674    41.867\nName: Latitude, Length: 96, dtype: float64,282677   -87.626\n519941   -87.723\n733830   -87.697\n241086   -87.646\n328456   -87.656\n           ...  \n466431   -87.705\n604791   -87.667\n948275   -87.688\n575696   -87.636\n282674   -87.663\nName: Longitude, Length: 96, dtype: float64    96
Name: Weight, dtype: int64